body::-webkit-scrollbar {
  width: 0.6em;
  background-color: #2d3748;
  border-radius: 10px;
}
body {
  background-color: #2d3748;
  width: 100%;
  min-height: 100vh;
}
body::-webkit-scrollbar-thumb {
  background-color: #f6e05e;
  border-radius: 10px;
}
